<a href="https://colab.research.google.com/github/kuan1107/python2020/blob/main/anna3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U -q PyDrive

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import gspread
from google.colab import drive
from google.auth import default
creds, _ = default()
auth.authenticate_user()
gc = gspread.authorize(creds)

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drvie = GoogleDrive(gauth)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/xlsx/問卷.xlsx',sheet_name='表單回應 1')

In [ ]:
df.head()

,時間戳記,電子郵件地址,性別,年齡,職業,較常使用的網購平台（可複選）,如何網購（可複選）,如何付款（可複選）,如何取貨（可複選）,平均網購的頻率,吸引網購的原因（可複選）
0,2022-04-23 17:07:44.323,潘丞沛,女,21～30,學生,"Momo購物, 蝦皮",手機,貨到付款,超商取貨,一週兩次,"特定節日免運費, 商品品質好壞, 賣家服務態度好壞, 回購享有折扣"
1,2022-05-02 14:23:27.848,王文君,女,21～30,學生,"Momo購物, 蝦皮, 淘寶",手機,"貨到付款, 線上刷卡",超商取貨,一個月一次,"特定節日免運費, 產品是否多元, 商品品質好壞, 賣家服務態度好壞, 回購享有折扣"
2,2022-05-02 17:04:39.661,a0921411228@gmail.com,男,16～20,學生,"Momo購物, 蝦皮, 奇摩拍賣",手機,貨到付款,超商取貨,看有沒有需要,"特定節日免運費, 產品是否多元"
3,2022-05-02 17:13:09.281,need6478@gmail.com,女,21～30,學生,"Momo購物, 蝦皮, 淘寶",手機,"貨到付款, 線上刷卡",超商取貨,一個月一次,"特定節日免運費, 產品是否多元, 商品品質好壞, 賣家服務態度好壞, 回購享有折扣"
4,2022-05-02 17:17:37.325,a0984229644@gmail.com,男,16～20,學生,蝦皮,手機,貨到付款,超商取貨,一個月一次,"特定節日免運費, 產品是否多元, 商品品質好壞"

In [ ]:
df.shape

(50, 11)

In [ ]:
df.iloc[0,0]

Timestamp('2022-04-23 17:07:44.323000')

In [ ]:
df.loc[1,'年齡']

'21～30'

In [ ]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1p1o-LGsauBOV1iEizeC_39rVffOQT-Mf/')
sheet_1 = wb.worksheet=('表單回應 1')

In [ ]:
data = sheet_1.get_all_values()
df = pd.DataFrame(data)

In [ ]:
df.columns = df.iloc[0]
df = df.drop(df.index[0])
df = df.reset_index(drop=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   2022-04-23 17:07:44.323000         49 non-null     datetime64[ns]
 1   潘丞沛                                49 non-null     object
 2   女                                  49 non-null     object
 3   21～30                              49 non-null     object
 4   學生                                 49 non-null     object
 5   Momo購物, 蝦皮                         49 non-null     object
 6   手機                                 49 non-null     object
 7   貨到付款                               49 non-null     object
 8   超商取貨                               49 non-null     object
 9   一週兩次                               49 non-null     object
 10  特定節日免運費, 商品品質好壞, 賣家服務態度好壞, 回購享有折扣  49 non-null     object
dtypes: datetime64[ns](1), object(10)
memory usage: 4.3+ KB

In [ ]:
df.to_excel('/content/drive/MyDrive/xlsx/問卷.xlsx',sheet_name='表單回應 1')

In [ ]:
grid = df.iloc[1,-1]

In [ ]:
grid.find('(1)')

-1