<a href="https://colab.research.google.com/github/kuan1107/python2020/blob/main/%E3%80%8C11272_0_%E8%B3%87%E6%96%99%E5%9E%8B%E6%85%8B(data_Type)%E5%8F%8A%E5%85%B6%E5%90%84%E7%A8%AE%E9%81%8B%E7%AE%97%E6%95%99%E5%AD%B8%E7%89%88_ipynb%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

In [ ]:
var1 = 'Hello Python!'

print("var1[0]: ", var1[0])

var1[0]:  H

In [ ]:
var1 = 'Hello Python!'
print("var1[1:8]: ", var1[1:8])

var1[1:8]:  ello Py

In [ ]:
var1 = 'Hello Python!'

print("var1[1:8]: ", var1[0:6]+' world!')

var1[1:8]:  Hello  world!

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

list1[1]

33

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

list1[-2]

32

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

len(list1)

6

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

max(list1)

98

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

min(list1)

12

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

In [ ]:
sum(list1)

210

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}

print("dict['Name']: ", dict['Name'])

dict['Name']:  DaDaLong

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}

print("dict['Age']: ", dict['Age'])

dict['Age']:  17

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
dict.items()

dict_items([('Name', 'DaDaLong'), ('Age', 17), ('Class', 'First')])

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.items())

[('Name', 'DaDaLong'), ('Age', 17), ('Class', 'First')]

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.keys())

['Name', 'Age', 'Class']