<a href="https://colab.research.google.com/github/kuan1107/python2020/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from google.colab import files
uploaded = files.upload()

Saving 歷年國內主要觀光遊憩據點遊客人數月別統計.xlsx to 歷年國內主要觀光遊憩據點遊客人數月別統計 (1).xlsx

In [19]:
import io
import pandas as pd
df2 = pd.read_excel(io.BytesIO(uploaded['歷年國內主要觀光遊憩據點遊客人數月別統計.xlsx']))
print(df2)

        年別    類型    觀光遊憩區       細分  縣市別         1月         2月         3月  \
0     2012  國家公園  陽明山國家公園  陽明山遊客中心  臺北市    12187.0    18612.0    18580.0
1     2012  國家公園  陽明山國家公園     陽明書屋  臺北市     2597.0     3617.0     5221.0
2     2012  國家公園  陽明山國家公園     陽明公園  臺北市   161000.0   463000.0   705200.0
3     2012  國家公園  陽明山國家公園    大屯遊憩區  臺北市    17047.0    29079.0    38558.0
4     2012  國家公園  陽明山國家公園   龍鳳谷遊憩區  臺北市    21201.0    22134.0    62447.0
...    ...   ...      ...      ...  ...        ...        ...        ...
3060  2021    其他        -   霧峰林家園區  臺中市    17919.0    22413.0    14562.0
3061  2021    其他        -  臺中國家歌劇院  臺中市    70761.0    58994.0    72877.0
3062  2021    其他        -     一中商圈  臺中市  1142577.0  1227190.0  1167561.0
3063  2021    其他        -     逢甲夜市  臺中市   592042.0   672055.0   698734.0
3064  2021    其他        -   潭雅神綠園道  臺中市   296840.0   405427.0   359029.0

             4月        5月        6月        7月        8月        9月        10月  \
0       13329.0   14179.0   11397.0   16000.0   11791.0   10469.0    11515.0
1        4317.0    3497.0    2815.0    3005.0    2497.0    2764.0     3701.0
2       85600.0   38600.0   28000.0   51700.0   44700.0   39000.0    36000.0
3       34332.0   43906.0   42586.0   63721.0   41881.0   51743.0    38214.0
4       64691.0   16243.0   15811.0   15787.0   16963.0   16176.0    18951.0
...         ...       ...       ...       ...       ...       ...        ...
3060    20850.0    6404.0       0.0     633.0    3896.0    8249.0    15638.0
3061    84679.0   39116.0       0.0    3508.0   33553.0   48770.0    91325.0
3062  1033384.0  415927.0  165821.0  348837.0  515960.0  651131.0  1053106.0
3063   565853.0  259384.0   93986.0  231645.0  398605.0  482115.0   658506.0
3064   599560.0  217254.0       0.0  267140.0  361479.0  389770.0   408215.0

          11月      12月       合計
0      6896.0   9631.0   154586
1      2863.0   2983.0    39877
2     35000.0  33000.0  1720800
3     27467.0  27306.0   455840
4     18136.0  19135.0   307675
...       ...      ...      ...
3060      NaN      NaN   110564
3061      NaN      NaN   503583
3062      NaN      NaN  7721494
3063      NaN      NaN  4652925
3064      NaN      NaN  3304714

[3065 rows x 18 columns]

In [20]:
from google.colab import files
uploaded = files.upload()

Saving 00690.xlsx to 00690 (1).xlsx

In [23]:
import io
import pandas as pd
df1 = pd.read_excel(io.BytesIO(uploaded['00690.xlsx']))
print(df1)
df1.head()

          Date  Price
0   2017-03-31  19.91
1   2017-04-05  19.95
2   2017-04-06  19.93
3   2017-04-07  19.84
4   2017-04-10  19.80
..         ...    ...
844 2020-09-08  25.25
845 2020-09-09  25.05
846 2020-09-10  25.18
847 2020-09-11  25.25
848 2020-09-14  25.50

[849 rows x 2 columns]

        Date  Price
0 2017-03-31  19.91
1 2017-04-05  19.95
2 2017-04-06  19.93
3 2017-04-07  19.84
4 2017-04-10  19.80

In [24]:
i=1
while (i<11):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [25]:
for i in range(2,10):
  for j in range(1,10):
    print(i,'*',j,'=',i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [27]:
def func_1(x):
  return x+1

In [33]:
def func_1(x,y=5):
 z = x-y
 return z